<h1>Conference Event Schedule</h1>

<table>
  <thead>
    <th>Time</th>
    <th>Track 1</th>
    <th>Track 2</th>
    <th>Track 3</th>
    <th>Track 4</th>
    <th>Track 5</th>
  </thead>
  <tbody>
    
    <% (0..50).each do |i| @day_time_exact = @day_time_reference + (i*15).minutes %>
    
    <tr>
      <td style="width: 100px;"><%= @day_time_exact.to_formatted_s(:short) %></td>
      
      <% (1..5).each do |j| %>
        <td>
          <% track_event = @events.where(startTime: @day_time_reference..@day_time_exact).where(endTime: @day_time_exact..(@day_time_exact + (12*60).minutes)).where('track= ' + j.to_s + ' OR track= 0').take %>
          <% if(track_event.nil?) %>
          <% elsif %>
          <%= track_event.name %>
          <% end %>
        </td>
      <% end %>
    </tr>
    
    <% end %>
    
  </tbody>
</table>

<!-- Test Display of All the Events --> 
<ul>
<% @events.each do |event| %>
  <li>
    <%= event.name %>, <%= event.track %>, <%= event.startTime %>, <%= event.endTime %>
  </li>
<% end %>
</ul>
